<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Alien Idle 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {23, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 25}</string>
			<key>spriteSourceSize</key>
			<string>{25, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 247}, {23, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Alien Idle 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {23, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 25}</string>
			<key>spriteSourceSize</key>
			<string>{25, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 220}, {23, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Alien Idle 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 23}</string>
			<key>spriteSourceSize</key>
			<string>{25, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 309}, {23, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bam Text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 25}</string>
			<key>spriteSourceSize</key>
			<string>{59, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 456}, {59, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast Cloud.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 23}</string>
			<key>spriteSourceSize</key>
			<string>{39, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 284}, {39, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blast.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 35}</string>
			<key>spriteSourceSize</key>
			<string>{50, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 43}, {50, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Boost Ring.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 15}</string>
			<key>spriteSourceSize</key>
			<string>{70, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 412}, {70, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Boosters Plus Text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {101, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{101, 20}</string>
			<key>spriteSourceSize</key>
			<string>{101, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {101, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cat Bullet.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {15, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{15, 33}</string>
			<key>spriteSourceSize</key>
			<string>{15, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 80}, {15, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cat Idle 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{23, 25}</string>
			<key>spriteSourceSize</key>
			<string>{23, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 479}, {23, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cat Plus Text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {56, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{56, 20}</string>
			<key>spriteSourceSize</key>
			<string>{56, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 483}, {56, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cloud 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 49}</string>
			<key>spriteSourceSize</key>
			<string>{75, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 2}, {75, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cloud 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {58, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{58, 39}</string>
			<key>spriteSourceSize</key>
			<string>{58, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 2}, {58, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dino Attack 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79, 67}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dino Attack 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 412}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dino Attack 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79, 345}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dino Attack 04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 345}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dino Attack 05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 201}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dino Idle 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 134}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dino Idle 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 67}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fuel.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {41, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{41, 64}</string>
			<key>spriteSourceSize</key>
			<string>{45, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 128}, {41, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Meow Text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 26}</string>
			<key>spriteSourceSize</key>
			<string>{53, 26}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 479}, {53, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Plop Text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {65, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{65, 25}</string>
			<key>spriteSourceSize</key>
			<string>{65, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 429}, {65, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket Burn 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 75}</string>
			<key>spriteSourceSize</key>
			<string>{40, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 209}, {40, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket Burn 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 75}</string>
			<key>spriteSourceSize</key>
			<string>{40, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 412}, {40, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket Burn 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 75}</string>
			<key>spriteSourceSize</key>
			<string>{40, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 268}, {40, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket Burn 04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 75}</string>
			<key>spriteSourceSize</key>
			<string>{40, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 268}, {40, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket Burn 05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {40, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 73}</string>
			<key>spriteSourceSize</key>
			<string>{40, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{121, 134}, {40, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket Fly 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {38, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 73}</string>
			<key>spriteSourceSize</key>
			<string>{40, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 209}, {38, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket Fly 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {40, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 73}</string>
			<key>spriteSourceSize</key>
			<string>{40, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79, 134}, {40, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rocket Fly 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {38, 73}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{38, 73}</string>
			<key>spriteSourceSize</key>
			<string>{40, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 53}, {38, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Speed Down Text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {99, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{99, 19}</string>
			<key>spriteSourceSize</key>
			<string>{99, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 24}, {99, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Speed Up Text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 20}</string>
			<key>spriteSourceSize</key>
			<string>{83, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 45}, {83, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Turtle Idle 01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 24}</string>
			<key>spriteSourceSize</key>
			<string>{24, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 194}, {24, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Turtle Idle 02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 24}</string>
			<key>spriteSourceSize</key>
			<string>{24, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 286}, {24, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Turtle Idle 03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {22, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 24}</string>
			<key>spriteSourceSize</key>
			<string>{24, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 309}, {22, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
	</dict>
</dict>
</plist>