<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background File</key>
	<string>Sky Background.png</string>
	<key>Data</key>
	<dict>
		<key>1056</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>13</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>200</key>
			<string>Shell</string>
			<key>253</key>
			<string>Shell</string>
			<key>280</key>
			<string>Shell</string>
			<key>40</key>
			<string>Shell</string>
			<key>93</key>
			<string>Shell</string>
		</dict>
		<key>1120</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>13</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>200</key>
			<string>Shell</string>
			<key>253</key>
			<string>Shell</string>
			<key>280</key>
			<string>Shell</string>
			<key>40</key>
			<string>Shell</string>
			<key>93</key>
			<string>Shell</string>
		</dict>
		<key>1248</key>
		<dict>
			<key>147</key>
			<string>Boost</string>
			<key>200</key>
			<string>Boost</string>
		</dict>
		<key>1344</key>
		<dict>
			<key>173</key>
			<string>Alien</string>
			<key>253</key>
			<string>Alien</string>
			<key>93</key>
			<string>Alien</string>
		</dict>
		<key>1408</key>
		<dict>
			<key>253</key>
			<string>Alien</string>
			<key>93</key>
			<string>Alien</string>
		</dict>
		<key>1440</key>
		<dict>
			<key>147</key>
			<string>Boost</string>
			<key>200</key>
			<string>Boost</string>
		</dict>
		<key>1536</key>
		<dict>
			<key>13</key>
			<string>Dino</string>
			<key>307</key>
			<string>Dino</string>
		</dict>
		<key>608</key>
		<dict>
			<key>13</key>
			<string>Shell</string>
			<key>307</key>
			<string>Shell</string>
		</dict>
		<key>800</key>
		<dict>
			<key>13</key>
			<string>Shell</string>
			<key>307</key>
			<string>Shell</string>
		</dict>
		<key>928</key>
		<dict>
			<key>13</key>
			<string>UFO</string>
			<key>280</key>
			<string>UFO</string>
			<key>307</key>
			<string>UFO</string>
			<key>40</key>
			<string>UFO</string>
		</dict>
	</dict>
	<key>Datakeys</key>
	<array>
		<string>608</string>
		<string>800</string>
		<string>928</string>
		<string>1056</string>
		<string>1120</string>
		<string>1248</string>
		<string>1344</string>
		<string>1408</string>
		<string>1440</string>
		<string>1536</string>
	</array>
	<key>Ground File</key>
	<string>Mountains Ground.png</string>
	<key>Level Desc</key>
	<string>The Blah</string>
	<key>Level Name</key>
	<string>Blah Level</string>
	<key>Level Num</key>
	<string>1</string>
	<key>Parallax File</key>
	<string>Mountains Parallax.png</string>
	<key>Vertical Tiles</key>
	<integer>64</integer>
</dict>
</plist>
