<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background File</key>
	<string>Sky Background.png</string>
	<key>Data</key>
	<dict>
		<key>500</key>
		<dict>
			<key>160</key>
			<string>Turtling Swarm</string>
		</dict>
	</dict>
	<key>Datakeys</key>
	<array>
		<string>500</string>
	</array>
	<key>Ground File</key>
	<string>Mountains Ground.png</string>
	<key>Level Num</key>
	<string>6</string>
	<key>Parallax File</key>
	<string></string>
	<key>Vertical Tiles</key>
	<integer>4000</integer>
</dict>
</plist>
