<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background File</key>
	<string>Sky Background.png</string>
	<key>Data</key>
	<dict>
		<key>10784</key>
		<dict>
			<key>147</key>
			<string>Dummy Boss</string>
		</dict>
		<key>1952</key>
		<dict>
			<key>147</key>
			<string>Cat</string>
			<key>173</key>
			<string>Cat</string>
			<key>227</key>
			<string>Cat</string>
			<key>253</key>
			<string>Cat</string>
			<key>67</key>
			<string>Cat</string>
			<key>93</key>
			<string>Cat</string>
		</dict>
		<key>1984</key>
		<dict>
			<key>147</key>
			<string>Cat</string>
			<key>173</key>
			<string>Cat</string>
			<key>227</key>
			<string>Cat</string>
			<key>253</key>
			<string>Cat</string>
			<key>67</key>
			<string>Cat</string>
			<key>93</key>
			<string>Cat</string>
		</dict>
		<key>2016</key>
		<dict>
			<key>147</key>
			<string>Cat</string>
			<key>173</key>
			<string>Cat</string>
			<key>227</key>
			<string>Cat</string>
			<key>253</key>
			<string>Cat</string>
			<key>67</key>
			<string>Cat</string>
			<key>93</key>
			<string>Cat</string>
		</dict>
		<key>2048</key>
		<dict>
			<key>147</key>
			<string>Cat</string>
			<key>173</key>
			<string>Cat</string>
			<key>227</key>
			<string>Cat</string>
			<key>253</key>
			<string>Cat</string>
			<key>67</key>
			<string>Cat</string>
			<key>93</key>
			<string>Cat</string>
		</dict>
		<key>3264</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>13</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>227</key>
			<string>Shell</string>
			<key>280</key>
			<string>Shell</string>
			<key>67</key>
			<string>Shell</string>
		</dict>
		<key>3296</key>
		<dict>
			<key>147</key>
			<string>Shell</string>
			<key>200</key>
			<string>Shell</string>
			<key>253</key>
			<string>Shell</string>
			<key>307</key>
			<string>Shell</string>
			<key>40</key>
			<string>Shell</string>
			<key>93</key>
			<string>Shell</string>
		</dict>
		<key>3328</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>13</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>227</key>
			<string>Shell</string>
			<key>280</key>
			<string>Shell</string>
			<key>67</key>
			<string>Shell</string>
		</dict>
		<key>4288</key>
		<dict>
			<key>120</key>
			<string>Boost</string>
			<key>200</key>
			<string>Boost</string>
			<key>280</key>
			<string>Boost</string>
			<key>40</key>
			<string>Boost</string>
		</dict>
		<key>5728</key>
		<dict>
			<key>147</key>
			<string>Fuel</string>
			<key>200</key>
			<string>Fuel</string>
			<key>253</key>
			<string>Fuel</string>
			<key>40</key>
			<string>Fuel</string>
			<key>93</key>
			<string>Fuel</string>
		</dict>
		<key>7040</key>
		<dict>
			<key>120</key>
			<string>Boost</string>
			<key>200</key>
			<string>Boost</string>
			<key>280</key>
			<string>Boost</string>
			<key>40</key>
			<string>Boost</string>
		</dict>
		<key>8000</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>13</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>227</key>
			<string>Shell</string>
			<key>280</key>
			<string>Shell</string>
			<key>67</key>
			<string>Shell</string>
		</dict>
		<key>8064</key>
		<dict>
			<key>147</key>
			<string>Shell</string>
			<key>200</key>
			<string>Shell</string>
			<key>253</key>
			<string>Shell</string>
			<key>307</key>
			<string>Shell</string>
			<key>40</key>
			<string>Shell</string>
			<key>93</key>
			<string>Shell</string>
		</dict>
		<key>8128</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>13</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>227</key>
			<string>Shell</string>
			<key>280</key>
			<string>Shell</string>
			<key>67</key>
			<string>Shell</string>
		</dict>
		<key>8192</key>
		<dict>
			<key>147</key>
			<string>Shell</string>
			<key>200</key>
			<string>Shell</string>
			<key>253</key>
			<string>Shell</string>
			<key>307</key>
			<string>Shell</string>
			<key>40</key>
			<string>Shell</string>
			<key>93</key>
			<string>Shell</string>
		</dict>
		<key>8256</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>13</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>227</key>
			<string>Shell</string>
			<key>280</key>
			<string>Shell</string>
			<key>67</key>
			<string>Shell</string>
		</dict>
		<key>8320</key>
		<dict>
			<key>147</key>
			<string>Shell</string>
			<key>200</key>
			<string>Shell</string>
			<key>253</key>
			<string>Shell</string>
			<key>307</key>
			<string>Shell</string>
			<key>40</key>
			<string>Shell</string>
			<key>93</key>
			<string>Shell</string>
		</dict>
		<key>8384</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>13</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>227</key>
			<string>Shell</string>
			<key>280</key>
			<string>Shell</string>
			<key>67</key>
			<string>Shell</string>
		</dict>
		<key>896</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>147</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>200</key>
			<string>Shell</string>
			<key>227</key>
			<string>Shell</string>
			<key>93</key>
			<string>Shell</string>
		</dict>
		<key>928</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>147</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>200</key>
			<string>Shell</string>
			<key>227</key>
			<string>Shell</string>
			<key>93</key>
			<string>Shell</string>
		</dict>
		<key>9888</key>
		<dict>
			<key>120</key>
			<string>Shell</string>
			<key>13</key>
			<string>Shell</string>
			<key>147</key>
			<string>Shell</string>
			<key>173</key>
			<string>Shell</string>
			<key>200</key>
			<string>Shell</string>
			<key>227</key>
			<string>Shell</string>
			<key>253</key>
			<string>Shell</string>
			<key>280</key>
			<string>Shell</string>
			<key>307</key>
			<string>Shell</string>
			<key>40</key>
			<string>Shell</string>
			<key>67</key>
			<string>Shell</string>
			<key>93</key>
			<string>Shell</string>
		</dict>
	</dict>
	<key>Datakeys</key>
	<array>
		<string>896</string>
		<string>928</string>
		<string>1952</string>
		<string>1984</string>
		<string>2016</string>
		<string>2048</string>
		<string>3264</string>
		<string>3296</string>
		<string>3328</string>
		<string>4288</string>
		<string>5728</string>
		<string>7040</string>
		<string>8000</string>
		<string>8064</string>
		<string>8128</string>
		<string>8192</string>
		<string>8256</string>
		<string>8320</string>
		<string>8384</string>
		<string>9888</string>
		<string>10784</string>
	</array>
	<key>Ground File</key>
	<string>Lab Ground.png</string>
	<key>Level Num</key>
	<string>0</string>
	<key>Parallax File</key>
	<string>Tutorial Parallax.png</string>
	<key>Vertical Tiles</key>
	<integer>500</integer>
</dict>
</plist>
