<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Trigger</key>
		<string>Height 0</string>
		<key>Events</key>
		<array>
			<dict>
				<key>Delay</key>
				<integer>1</integer>
				<key>Banner</key>
				<string>Intro Banner</string>
			</dict>
			<dict>
				<key>Focus</key>
				<string>Boost Button</string>
				<key>Banner</key>
				<string>Tap Booster Banner</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Trigger</key>
		<string>1st Shell</string>
		<key>Events</key>
		<array>
			<dict>
				<key>Focus</key>
				<string>Trigger</string>
				<key>Banner</key>
				<string>Tilt Banner</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Trigger</key>
		<string>1st Cat</string>
		<key>Events</key>
		<array>
			<dict>
				<key>Focus</key>
				<string>Trigger</string>
				<key>Banner</key>
				<string>Collect Ammo Banner</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Trigger</key>
		<string>13th Shell</string>
		<key>Events</key>
		<array>
			<dict>
				<key>Focus</key>
				<string>Trigger</string>
				<key>Banner</key>
				<string>Tap Cat Banner</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Trigger</key>
		<string>1st Boost</string>
		<key>Events</key>
		<array>
			<dict>
				<key>Focus</key>
				<string>Trigger</string>
				<key>Banner</key>
				<string>Ring Banner</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Trigger</key>
		<string>1st Fuel</string>
		<key>Events</key>
		<array>
			<dict>
				<key>Focus</key>
				<string>Trigger</string>
				<key>Banner</key>
				<string>Collect Fuel Banner</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Trigger</key>
		<string>5th Boost</string>
		<key>Events</key>
		<array>
			<dict>
				<key>Focus</key>
				<string>Trigger</string>
				<key>Banner</key>
				<string>Combo Banner</string>
			</dict>
			<dict>
				<key>Banner</key>
				<string>Combo 2 Banner</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Trigger</key>
		<string>73rd Shell</string>
		<key>Events</key>
		<array>
			<dict>
				<key>Focus</key>
				<string>Trigger</string>
				<key>Banner</key>
				<string>Tap Bomb Banner</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Trigger</key>
		<string>1st Dummy Boss</string>
		<key>Events</key>
		<array>
			<dict>
				<key>Focus</key>
				<string>Trigger</string>
				<key>Banner</key>
				<string>Boss Banner</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
