<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Intro</key>
	<dict>
		<key>Scene</key>
		<array>
			<dict>
				<key>Transition</key>
				<string>Fade</string>
				<key>Timing</key>
				<string>1.5</string>
			</dict>
			<dict>
				<key>Transition</key>
				<string>Fade</string>
				<key>Timing</key>
				<string>1.5</string>
			</dict>
			<dict>
				<key>Transition</key>
				<string>Instant</string>
				<key>Timing</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Transition</key>
				<string>Fade</string>
				<key>Timing</key>
				<string>2</string>
			</dict>
			<dict>
				<key>Transition</key>
				<string>Fade</string>
				<key>Timing</key>
				<string>5</string>
			</dict>
			<dict>
				<key>Transition</key>
				<string>Fade</string>
				<key>Timing</key>
				<string>5</string>
			</dict>
			<dict>
				<key>Transition</key>
				<string>Fade</string>
				<key>Timing</key>
				<string>5</string>
			</dict>
			<dict>
				<key>Transition</key>
				<string>Fade</string>
				<key>Timing</key>
				<string>4</string>
			</dict>
			<dict>
				<key>Transition</key>
				<string>Fade</string>
				<key>Timing</key>
				<string>2.5</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
