<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Intro</key>
	<dict>
		<key>Scene Timing</key>
		<dict>
			<key>01</key>
			<integer>3</integer>
			<key>02</key>
			<integer>2</integer>
			<key>03</key>
			<integer>3</integer>
			<key>04</key>
			<integer>3</integer>
			<key>05</key>
			<integer>5</integer>
			<key>06</key>
			<integer>5</integer>
			<key>07</key>
			<integer>5</integer>
			<key>08</key>
			<integer>4</integer>
			<key>09</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
