<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>(131, 120)</string>
	<string>(230, 130)</string>
	<string>(225, 181)</string>
	<string>(38, 107)</string>
	<string>(35, 203)</string>
	<string>(171, 280)</string>
	<string>(230, 335)</string>
</array>
</plist>
