<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Training Ground</string>
		<key>Point</key>
		<string>(138, 117)</string>
		<key>C1</key>
		<string>(166, 95)</string>
		<key>C2</key>
		<string>(200, 100)</string>
		<key>Time</key>
		<real>0.6</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Take To The Skies!</string>
		<key>Point</key>
		<string>(230, 118)</string>
		<key>C1</key>
		<string>(250, 147)</string>
		<key>C2</key>
		<string>(275, 180)</string>
		<key>Time</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Desert Dustup</string>
		<key>Point</key>
		<string>(216, 185)</string>
		<key>C1</key>
		<string>(110, 190)</string>
		<key>C2</key>
		<string>(100, 90)</string>
		<key>Time</key>
		<real>1.15</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Waterfront</string>
		<key>Point</key>
		<string>(42, 115)</string>
		<key>C1</key>
		<string>(10, 133)</string>
		<key>C2</key>
		<string>(15, 166)</string>
		<key>Time</key>
		<real>0.6</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mines Of Mori</string>
		<key>Point</key>
		<string>(35, 203)</string>
		<key>C1</key>
		<string>(50, 230)</string>
		<key>C2</key>
		<string>(100, 285)</string>
		<key>Time</key>
		<real>0.85</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Big City Waltz</string>
		<key>Point</key>
		<string>(169, 285)</string>
		<key>C1</key>
		<string>(200, 280)</string>
		<key>C2</key>
		<string>(250, 310)</string>
		<key>Time</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Final Encounter</string>
		<key>Point</key>
		<string>(230, 345)</string>
		<key>C1</key>
		<string>(0, 0)</string>
		<key>C2</key>
		<string>(0, 0)</string>
		<key>Time</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
